---
http_interactions:
- request:
    method: get
    uri: http://api.filmaster.com:80/1.1/user/gsmendoza/recommendations
    body: ''
    headers: {}
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://api.filmaster.com/1.1/user/gsmendoza/recommendations/
    body: ''
  recorded_at: Sat, 29 Sep 2012 07:04:42 GMT
- request:
    method: get
    uri: http://api.filmaster.com:80/1.1/user/gsmendoza/recommendations/
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body: ! "{\n  \"paginator\": {\n    \"prev_uri\": null,\n    \"next_uri\": \"/1.1/user/gsmendoza/recommendations/?page=2\",\n
      \   \"page\": 1\n  },\n  \"objects\": [\n    {\n      \"video_uri\": \"/1.1/film/leon/links/video/\",\n
      \     \"image\": \"/static/img/obj/f/d3/35/leon.100xauto.jpg\",\n      \"number_of_votes\":
      7448,\n      \"checkin_uri\": \"/1.1/film/leon/checkin/\",\n      \"netflix_id\":
      null,\n      \"guess_rating\": 9.2233495382809441,\n      \"netflix_instant\":
      false,\n      \"title\": \"Léon\",\n      \"related_uri\": \"/1.1/film/leon/related/\",\n
      \     \"directors\": [\n        {\n          \"permalink\": \"luc-besson\",\n
      \         \"surname\": \"Besson\",\n          \"name\": \"Luc\",\n          \"image\":
      \"/static/img/objects/l/luc-besson.jpg\",\n          \"posts_uri\": \"/1.1/person/luc-besson/posts/\",\n
      \         \"hires_image\": \"/static/img/objects/hires/l/luc-besson.180xauto.jpg\",\n
      \         \"films_played_uri\": \"/1.1/person/luc-besson/films-played/\",\n
      \         \"resource_uri\": \"/1.1/person/luc-besson/\",\n          \"films_directed_uri\":
      \"/1.1/person/luc-besson/films-directed/\"\n        }\n      ],\n      \"title_localized\":
      \"Leon\",\n      \"average_score\": \"8.27\",\n      \"description\": \"Leone
      \\\"Léon\\\" Montana (Jean Reno) is a hitman (or \\\"cleaner,\\\" as he refers
      to himself) living a solitary life in New York City's Little Italy. His work
      comes from a mafioso named Tony (Danny Aiello), who operates from the \\\"Supreme
      Macaroni Company\\\" restaurant. Léon spends his idle time engaging in calisthenics,
      nurturing a houseplant that early on he describes as his \\\"best friend,\\\"
      and (in one scene) watching old Gene Kelly musicals. (<a href=\\\"http://en.wikipedia.org/wiki/L%C3%A9on_(film)\\\"><i>Wikipedia</i></a>)\",\n
      \     \"tags\": [\n        \"action\",\n        \"badgood\",\n        \"child\",\n
      \       \"crime\",\n        \"crime story\",\n        \"drama\",\n        \"friendshiot
      with a kid\",\n        \"friendship with a child\",\n        \"paid assasin\",\n
      \       \"thriller\",\n        \"sensacyjny\"\n      ],\n      \"posts_uri\":
      \"/1.1/film/leon/posts/\",\n      \"characters_uri\": \"/1.1/film/leon/characters/\",\n
      \     \"imdb_code\": \"0110413\",\n      \"hires_image\": \"/static/img/obj/f/d3/35/leon.180xauto.jpg\",\n
      \     \"short_reviews_uri\": \"/1.1/film/leon/short-reviews/\",\n      \"production_country_list\":
      [\n        \"France\"\n      ],\n      \"links_uri\": \"/1.1/film/leon/links/\",\n
      \     \"permalink\": \"leon\",\n      \"release_year\": 1994,\n      \"release_date\":
      null,\n      \"length\": 110,\n      \"resource_uri\": \"/1.1/film/leon/\"\n
      \   },\n    {\n      \"video_uri\": \"/1.1/film/le-fantome-de-la-liberte/links/video/\",\n
      \     \"image\": \"/static/img/objects/hires/l/le-fantome-de-la-liberte_2.100xauto.jpg\",\n
      \     \"number_of_votes\": 116,\n      \"checkin_uri\": \"/1.1/film/le-fantome-de-la-liberte/checkin/\",\n
      \     \"netflix_id\": \"http://api.netflix.com/catalog/titles/movies/70032556\",\n
      \     \"guess_rating\": 8.9771067676038072,\[...]
